*.log
public/wp-content/cache/
public/wp-content/debug.log
public/wp-content/mu-plugins/
public/wp-content/plugins/
public/wp-content/updraft/
public/wp-content/uploads/
public/wp-content/languages/
*dist/
.well-known/
*node_modules/
.env
.htaccess
.vscode/
.idea/
*wp-includes/
*wp-admin/
salt.php
*vendor/
xmlrpc.php
public/core/
