.bg-black {
    background-color: var(--clr-black);
    color: var(--clr-white);
}

.align-items-center {
    align-items: center !important;
}

.mobile-reverse {
    @media (max-width: 768px) {
        > :last-child {
            order: -1;
        }
    }
}
