*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
  Remove default margin
*/
* {
    margin: 0;
}

:where(input, button, textarea, select) {
    font: inherit;
}

:where(img, picture, video, canvas) {
    display: block;
}
