:root {
    // colors
    --clr-primary: #778cd3;
    --clr-secondary: #ffa569;
    --clr-tertiary: #b6f0a4;
    --clr-quaternary: #faf16e;

    --clr-white: #fff;
    --clr-black: #1a1a1a;

    // spacings
    --spacing-1: clamp(0.5rem, 1vw, 1rem);
    --spacing-2: clamp(1rem, 2vw, 2rem);
    --spacing-3: clamp(1.5rem, 3vw, 3rem);
    --spacing-4: clamp(2rem, 4vw, 4rem);
    --spacing-5: clamp(2.5rem, 6vw, 5rem);
    --spacing-6: clamp(3rem, 7vw, 6rem);
    --spacing-7: clamp(3.5rem, 8vw, 7rem);
    --spacing-8: clamp(4rem, 9vw, 8rem);
}
