<!-- wp:template-part {"slug":"header","theme":"tims-theme","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"not-found","layout":{"type":"constrained"}} -->
<main class="wp-block-group not-found">

    <section>
        <!-- wp:heading {"level":1} -->
        <h1 class="wp-block-heading">404 - pagina niet gevonden</h1>
        <!-- /wp:heading -->

        <!-- wp:buttons -->
        <div class="wp-block-buttons"><!-- wp:button -->
            <div class="wp-block-button"><a class="wp-block-button__link wp-element-button" href="/">Terug naar home</a>
            </div>
            <!-- /wp:button -->
        </div>
        <!-- /wp:buttons -->
    </section>

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"tims-theme","tagName":"footer"} /-->