.wp-block-tim-hero-home {
    width: 100%;
    height: clamp(600px, 80vh, 1000px);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 0;

    .acf-innerblocks-container {
        .wp-block-site-logo img {
            width: 160px;
            margin-bottom: 2rem;
            height: auto;
            object-fit: cover;
        }
    }

    #sketch-canvas {
        inset: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        pointer-events: none;
        filter: brightness(0.5);
    }
}
