.wp-block-tim-projects-grid {
    column-count: 2;
    --grid-gap: var(--wp--preset--spacing--40);
    column-gap: var(--grid-gap);
    padding: var(--grid-gap);

    @media (max-width: 768px) {
        --grid-gap: 10px;
    }

    .wp-block-heading + & {
        margin-top: var(--grid-gap);
    }

    .card-project {
        break-inside: avoid;
        position: relative;
        display: block;

        picture {
            display: block;
            padding: 0;
            margin: 0;
            position: relative;

            img {
                width: 100%;
                height: auto;
                object-fit: cover;
                margin-bottom: var(--grid-gap);
            }

            &:after {
                content: "";
                display: block;
                block-size: 100%;
                inset: 0;
                background: linear-gradient(to top, var(--wp--preset--color--black), transparent);
                opacity: 0;
                position: absolute;
                transition: opacity 0.3s ease;
            }
        }

        .project-title {
            position: absolute;
            z-index: 9999;
            bottom: 2rem;
            left: 2rem;
            translate: 0 50%;
            opacity: 0;
            will-change: opacity, translate;
            transition: opacity 0.3s ease, translate 0.3s ease;
            color: var(--wp--preset--color--white);
        }

        &:hover {
            picture:after {
                opacity: 0.5;
            }
            .project-title {
                opacity: 1;
                translate: 0 0;
            }
        }
    }
}
