.wp-block-tim-projects-slider {
    .wp-block-heading + & {
        margin-top: var(--wp--preset--spacing--50);
    }

    .swiper.swiper-projects {
        overflow: visible;

        img {
            width: 100%;
            aspect-ratio: 3 / 2;
            height: auto;
            object-fit: cover;
        }
    }
}
